@* @page "/visualization"
@using MudBlazor.Charts
@using MudBlazor
@using System;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using System.Collections.Generic
@using BlazorInterview.Models
@using BlazorInterview.Services
@using BlazorInterview.Pages
@using Syncfusion.Blazor.DropDowns
@inject DataService DataService


<div>
    <SfDropDownList Placeholder="e.g. Australia" TItem="Countries" TValue="string">
        <SfDataManager Json=@Country></SfDataManager>
        <DropDownListFieldSettings Value="Name"></DropDownListFieldSettings>
    </SfDropDownList>
</div>
@code{
    public class Countries
    {
        public string Name { get; set; }

        public string Code { get; set; }
    }

    public Countries[] Country = new Countries[]
    {
        new Countries { Name = "Australia", Code = "AU" },
        new Countries { Name = "Bermuda", Code = "BM" },
        new Countries { Name = "Canada", Code = "CA" },
        new Countries { Name = "Cameroon", Code = "CM" }
    };
}

 *@
